services:
  backend:
    build:
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    environment:
      - MONGO_URI=mongodb+srv://wheel_db_user:rNxxrCuTwylCHqIS@cluster0.wxszkjk.mongodb.net/the_wheel?retryWrites=true&w=majority&appName=Cluster0
      - SECRET_KEY=secret
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=15

  frontend:
    build:
      dockerfile: Dockerfile.frontend
    ports:
      - 5173:5173
    environment:
     - VITE_API_URL=http://localhost:8000
