@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.links {
  z-index: 1000;
}

.about-us-container {
  font-family: 'Lilita One', cursive;
  background-color: #3F695D;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.about-us-container .content-container {
  position: relative;
  z-index: 2;
  padding-bottom: 150px;
}

.about-us-container .decoration-element {
  position: absolute;
  opacity: 0.3;
  width: 150px;
  height: auto;
}

.about-us-container .element1-top,
.about-us-container .element2-top {
  z-index: 1;
}

.about-us-container .element1-top {
  top: 25%;
  left: 5%;
}

.about-us-container .element2-top {
  top: 15%;
  right: 15%;
  width: 120px;
}

.about-us-container .element1-bottom {
  top: 760px;
  right: 10%;
  width: 130px;
  z-index: 3;
}

.about-us-container .element2-bottom {
  top: 860px;
  left: 15%;
  width: 140px;
  z-index: 3;
}

.about-us-container h1 {
  color: white;
  text-align: center;
}

.about-us-container hr {
  border: none;
  border-top: 2px solid #86B18A;
  margin: 1.5rem 0;
}

.about-us-container p {
  color: white;
  line-height: 1.8;
  font-size: 24px;
}
