body:has(.circumstance-page) #root {
  max-width: none;
  margin: 0;
  padding: 0;
}

.circumstance-page {
  width: 100%;
  background-color: #86B18A;
}

.circumstance-header {
  background-color: #3F695D;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.note-area {
  display: grid;
  grid-template-columns: repeat(3, minmax(260px, 1fr));
  gap: 30px;
  width: 80%; /* keeps notes centered */
  margin: 0 auto;
  margin-bottom: 40px;
}

/* Card styling */
.note-card {
  position: relative;
  background: #e7e7e7;
  border-radius: 10px;
  padding: 15px;
  height: 26vh;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border: 2px solid black;
  text-align: left;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.delete-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 32px;
  cursor: pointer;
}
.add-icon {
  position: absolute;
  top: 27vh;
  right: 30px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.note-title {
  margin: 20px 20px 10px;
  font-size: 20px;
  color: #E76F51;
}

.note-content {
  margin: 0 20px;
  font-size: 16px;
  color: #444;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 600px;
  height: 400px;
  color: rgb(63, 63, 63);
  text-align: left;
}

.modal input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.modal textarea {
    height: 40%;
    width: 100%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.modal-buttons {
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-top: 10px;
}

.savebtn {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #86B18A;
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
.cancelbtn {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #E76F51;
  color: white;
  border: none;
  font-weight:bold;
  font-size: 16px;
}