/* Color picker styles */
.color.picker {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
  margin: 1rem;
  margin-bottom: 1em;
}

@media (max-width: 1400px) {
  .gameboard-container.shifted {
    transform: translateX(-150px) scale(0.8);
  }
  
  .settings-panel {
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .gameboard-container.shifted {
    transform: translateX(-100px) scale(0.75);
  }
}

.settingstext {
  color: black
}

.gbname-text {
  color: black;
  font-size: 18px;
}

.gbname-input {
  background-color: white;
  color: black;
  width: 170px;
  height: 15px;
  border: solid, 1px, black;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px
}

.loadgameboard-title {
  color: black;
  font-size: 18px;
}

.templates {
  display:inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 15px;
}

.isloading {
  color:black;
}

.template-dropdown {
  color:black;
  width: 190px;
  height: 35px;
  background-color: white;
  font-size: 16px;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}

.color.picker {
  margin-left: 7%;
}

.colorbuttons {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid grey; /* optional */
  cursor: pointer;
  transition: all 0.2s;
}

.labelname-input {
  background-color: white;
  color: black;
  width: 200px;
  height: 10px;
  font-size: 16px;
  border: solid, 2px, black;
  border-radius: 20px;
  padding: 10px;
}

.deleteslice-button {
  color: white;
  padding: 10px;
  background-color: rgb(228, 52, 52);
  margin-left: 20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 2px solid white;
}


.layeredit-title {
  color: black;
  margin-top:0px;
}

.layerinfo-container {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.layerinfo-title {
  color:black;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.addslice-button {
  color:white;
  background-color: green;
  height: 40px;
  width: 100px;
  border-radius: 50px;
  font-size: 16px;
  border: 2px solid white;
  margin-left:70px;
  margin-bottom: 20px;
}

.save-button {
  color: white;
  background-color: rgb(98, 137, 196);
  height: 50px;
  width: 190px;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.edit-button {
  color: white;
  background-color: rgb(98, 137, 196);
  height: 40px;
  width: 190px;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom:20px;
  margin-top: 20px;
  cursor: pointer;
}

.delete-button {
  color: white;
  background-color: rgb(228, 52, 52);
  height: 50px;
  width: 190px;
  border: 2px solid white;
  font-size: 18px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.energyvalue-input {
  color:black;
  background-color: white;
  font-size: 16px;
  border: solid, 2px, black;
  border-radius: 20px;
  padding: 10px;
  height: 10px;
  width: 20px;
} 

.energypoint-text {
  color:black;
  font-size: 18px;
  padding: 10px;
}

.ring-title-section {
  padding: 0.75rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0.75rem;
}

.ring-title-label {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.ring-title-section input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.ring-title-section .color.picker {
  margin-left: 16%;
}
.circumstance-picker {
  color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-left: 40px;
  margin-bottom: 2em;
  margin-right: 60px
}

.checkbox-option {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.circumstance-boxes {
  margin-right: 4px;
}
