#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.links {
  position: absolute;
  top: 2rem;
  left: 4rem;
  font-size: 20px;
}

.home-text {
  color: #ffffff;
}

.energypoints {
  padding: 1em 1em;
  margin-left: auto;
  position: absolute;
  top: 5rem;
  left: 2rem;
  border: none;
  color: #dfd4d4; 
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  z-index: 100;
}
.read-the-docs {
  color: #888;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 5rem auto;
  position: relative;
  transition: all 0.3s ease;
}

.wheel-container {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%; 
  background-color: #3F695D;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;   /* no text selection */
  -webkit-user-select: none;
  -ms-user-select: none;  
  padding: 2rem;
}

.main-content {
  display: flex;
  height: 120vh;
  transition: all 0.3s ease;
  position: relative;
}

/* Gameboard Container */
.gameboard-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  font-family: "Sour Gummy", sans-serif;
}

.gameboard-container.shifted {
  transform: translateX(-200px) scale(0.85);
}

.start-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  border: 80px solid #f5f5f3ff;
  font-family: "Sour Gummy", sans-serif;

}

.slice-path {
    cursor: grab;
    transition: opacity 0.2s;
  }
  
.slice-path:hover {
    opacity: 0.8;
  }
  
.slice-path.dragging {
    cursor: grabbing;
  }

.wheel-svg {
    width: 100%;
    height: 100%;
  }

.settings-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 600px;
  background: #fcfcf7;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.settings-panel.open {
  transform: translateX(0);
}

.settings-content {
  padding: 2rem;
  height: 100%;
  overflow-y: auto;
}

.settingsButton {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1001;
}


.settingsButton button {
  padding: 0.5rem 1rem;
  background: transparent;
  cursor: pointer;
  font-size: 40px;
  border: none;         
  outline: none;      
  box-shadow: none; 

}

.settingsButton button:hover {
  background: transparent;
}

.clock {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 5rem;
  top: 3rem;
}