

.energypoints {
  position: fixed;
  left: -5px;
  top: 2rem;
  border: none;
  color: #dfd4d4; 
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  z-index: 100;
}

.instructions {
    background: red;
    position: fixed;   
    left: 0;
    top: 5rem;     
    width: 100px;
    background: none;      
    z-index: 99;
}

.instructions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:rgb(204, 204, 204);
    font-size: 20px;
}
.read-the-docs {
  color: #888;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 5rem auto;
  position: relative;
  transition: all 0.3s ease;
}

.wheel-container {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%; 
  background-color: #3F695D;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;   /* no text selection */
  -webkit-user-select: none;
  -ms-user-select: none;  
  padding: 2rem;
}

.main-content {
  display: flex;
  height: 120vh;
  transition: all 0.3s ease;
  position: relative;
}

/* Gameboard Container */
.gameboard-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  width: 100%;
  font-family: "Sour Gummy", sans-serif;
}

.gameboard-container.shifted {
  transform: translateX(-200px) scale(0.85);
}

.start-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
  border: 80px solid #f5f5f3ff;
  font-family: "Sour Gummy", sans-serif;

}

.slice-path {
    cursor: grab;
    transition: opacity 0.2s;
  }
  
.slice-path:hover {
    opacity: 0.8;
  }
  
.slice-path.dragging {
    cursor: grabbing;
  }

.wheel-svg {
    width: 100%;
    height: 100%;
  }


.clock {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  right: 5rem;
  top: 3rem;
  z-index: 100;
}