@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@keyframes sunrise {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes sunrise-nested {
  from {
    transform: translateX(-50%) translateY(100%);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes sunrise-icon {
  from {
    transform: translateX(-50%) translateY(100vh) rotate(-45deg);
  }
  to {
    transform: translateX(-50%) translateY(0) rotate(-45deg);
  }
}

.home-text {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
}


h1 {
  font-family: "Lilita One", sans-serif;
  font-size: 60px;
  margin-top: 30px;


}

.half-circle {
  position: absolute;
  bottom: -40vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  height: 100vh;
  background-color: #E76F51;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  overflow: hidden;
  
  animation: sunrise 1.5s ease-out forwards;
}

.half-circle1,
.half-circle2 {
  position: absolute;
  bottom: 0;           
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0;
}

.half-circle1 {
  width: 80vw;
  height: 90vh;
  background-color: #F3A261;
  border-top-left-radius: 90vw;
  border-top-right-radius: 90vw;
  
  animation: sunrise-nested 1.5s ease-out forwards;
  transform: translateX(-50%) translateY(100%);
}

.half-circle2 {
  width: 70vw;
  height: 80vh;
  background-color: #E9C46A;
  border-top-left-radius: 80vw;
  border-top-right-radius: 80vw;

  animation: sunrise-nested 1.5s ease-out 0.4s forwards;
  transform: translateX(-50%) translateY(100%);
}

.start {
  position: absolute;
  top: 25%;        
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Lilita One", sans-serif;
  font-size: 40px;
  flex-direction: column;
}

.start input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  height: 40px;
  width: 200px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.start button {
  border: none;
  background-color: #e76f51;
  color: white;
  border-radius: 8px;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  font-size: 16px;
}

.dude-icon {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: calc(61vh - 15vw);
  left: calc(50% - 32vw);
  transform: translateX(-50%);
  transform-origin: center bottom;
  z-index: 10;
  animation: sunrise-icon 1.5s ease-out forwards;
}
