@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body:has(.landing-page) #root { /* there is a #root in gameboard.css, this cancels it */
  max-width: none;
  margin: 0;
  padding: 0;
}


.landing-page {
  width: 100vw;   
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

h1 {
  font-family: "Lilita One", sans-serif;

}

.header-area {
  background-color: #3F695D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  height: 45vh;
}

.content-area {
  background-color: #86B18A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 55vh;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 3vw;
  padding: 40px;
  width: 100vw;
}

.card {
  background: #FAF9F6;
  border: 3px solid black;
  border-radius: 16px;
  width: 11vw;
  min-height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: 2vw;
  margin-bottom: 10px;
}

.card h3 {
  font-family: "Lilita One", sans-serif;
  font-size: 1.1vw;
  margin: 10px 0;
  color: #3F695D;
}

.card p {
  color: #333;
  flex-grow: 1;
}

.card button {
  border: none;
  background-color: #E76F51;
  color: white;
  border-radius: 8px;
  padding: 0.8em 1.5em;
  cursor: pointer;
  font-size: clamp(12px, 0.8vw, 18px);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1vh;
  margin-top: auto;
}

.card button:hover {
  background-color: #E9C46A;
}
