#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height:60em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 70em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.links {
  position: absolute;
  top: 3rem;
  left: 4rem;
  font-size: 20px;
}

.card {
  padding: 1em 1em;
  margin-left: auto;
  position: absolute;
  top: 4rem;
  right: 6rem;
  border: 4px solid #444;  
  border-radius: 8px;  
  color: #dfd4d4; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); 
}
.read-the-docs {
  color: #888;
}

.container {
  width: 1000px;
  height: 1000px;
  margin: 2rem auto;
  position: relative;
}

.wheel {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background-color: #f5f2d0;
  display: flex;
  align-items: center;
  justify-content: center; 
  user-select: none;   /* no text selection */
  -webkit-user-select: none;
  -ms-user-select: none;  
}

.circle-ring {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  border: 5px solid #333;
  box-shadow: 0 0 0 5px #f5f2d0;
  transform: translate(-50%, -50%);
}

.circle-ring.outer {
  width: 1000px;
  height: 1000px;
}

.circle-ring.outer-middle {
  width: 800px;
  height: 800px;
  border-color: black;
}

.circle-ring.inner-middle {
  width: 550px;
  height: 550px;
  border-color: black;
}

.circle-ring.inner {
  width: 300px;
  height:300px;
  border-color: black;
}


.start-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f00;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 18px;
}